@mixin square($width, $height, $border-radius, $bg-color) {
    width: $width;
    height: $height;
    border-radius: $border-radius;
    background-color: $bg-color;
}

@mixin curved-line-horizontal($width, $height, $bg-color, $curve-left, $curve-right) {
    @include line-horizontal($width, $height, $bg-color);
    border-radius: 0 0 $curve-left $curve-right;
}

@mixin line-horizontal($width, $height, $bg-color) {
    @include line-vertical($width, $height, $bg-color);
    border-right-style: solid;
    transform: rotate(180deg);
}

@mixin line-vertical($width, $height, $bg-color) {
    height: $height;
    border: $width solid $bg-color;
    border-right-style: none;
}

@mixin circle($radius, $bg-color, $border-width: 0, $border-color: transparent) {
    width: $radius;
    height: $radius;
    background-color: $bg-color;
    border: $border-width solid $border-color;
    border-radius: $radius * 2;
}

@mixin oval($width, $height, $bg-color) {
    width: $width;
    height: $height;
    background: $bg-color;
    border-radius: $width unquote("/") $height;
}

@mixin star( $color: crimson, $size: 100px, // 2x this value is the width of the star
$denominator: 1.42 // Play with this val at different sizes
) {
    border-color: $color transparent transparent transparent;
    border-style: solid;
    border-top-width: $size / $denominator;
    border-right-width: $size;
    border-left-width: $size;
    height: 0;
    margin-top: $size / $denominator;
    margin-bottom: $size / ($denominator * 1.55555555);
    position: relative;
    width: 0;
    &:before,
    &:after {
        border-color: $color transparent transparent transparent;
        border-style: solid;
        border-top-width: $size / $denominator;
        border-right-width: $size;
        border-left-width: $size;
        content: '';
        display: block;
        height: 0;
        left: -$size;
        position: absolute;
        top: -$size / $denominator;
        width: 0;
    }
    &:before {
        transform: rotate(70deg);
    }
    &:after {
        transform: rotate(-70deg);
    }
}

@mixin cross($color: crimson, $size: 100px) {
    width: $size;
    height: $size;
    background: linear-gradient(to bottom, transparent 35%, $color 35%, $color 65%, transparent 65%), linear-gradient(to right, transparent 35%, $color 35%, $color 65%, transparent 65%);
}
