.configuration-editor {
    padding: 20px;
    .car-brands {
        img {
            padding: 10px;
            object-fit: contain;
            height: 50px;
            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
            &.selected {
                opacity: 0.4;
                &:hover {
                    cursor: inherit;
                    transform: inherit;
                }
            }
        }
    }
    .rim-styles>div {
        display: inline-block;
        padding: 10px;
        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
        &.selected {
            opacity: 0.4;
            &:hover {
                cursor: inherit;
                transform: inherit;
            }
        }
    }
}
