@mixin shape-star( $color: crimson, $size: 100px, // 2x this value is the width of the star
$denominator: 1.42 // Play with this val at different sizes
) {
    border-color: $color transparent transparent transparent;
    border-style: solid;
    border-top-width: $size / $denominator;
    border-right-width: $size;
    border-left-width: $size;
    height: 0;
    margin-top: $size / $denominator;
    margin-bottom: $size / ($denominator * 1.55555555);
    position: relative;
    width: 0;
    &:before,
    &:after {
        border-color: $color transparent transparent transparent;
        border-style: solid;
        border-top-width: $size / $denominator;
        border-right-width: $size;
        border-left-width: $size;
        content: '';
        display: block;
        height: 0;
        left: -$size;
        position: absolute;
        top: -$size / $denominator;
        width: 0;
    }
    &:before {
        transform: rotate(70deg);
    }
    &:after {
        transform: rotate(-70deg);
    }
}

@mixin shape-cross($color: crimson, $size: 100px) {
    width: $size;
    height: $size;
    background: linear-gradient(to bottom, transparent 35%, $color 35%, $color 65%, transparent 65%), linear-gradient(to right, transparent 35%, $color 35%, $color 65%, transparent 65%);
}

.rim {
    &.star {
        @include shape-star(yellow, 25px);
    }
    &.cross {
        @include shape-cross(yellow, 25px);
    }
}
